:root {
    --blackblue: #0c031a;
    --whitenew: #ffffff;
    --white: #d5cece;
    --blueviolet: #2a144d;
    --violet: #4f327c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--blackblue);
}

.flex {
    display: flex;
}

.search:hover,
.search:hover .search-btn,
ul.v-user > li > a:hover,
.setting-user > div:hover > button,
ul.menu > li:hover {
    background-color: var(--violet);
    text-shadow: 3px 3px 5px var(--blackblue);
    color: var(--whitenew);
    cursor: pointer;
    transition: text-shadow 0.25s, background-color 0.7s, color 0.5s;
}

ul.menu > li:hover > a,
ul.menu > li:hover > button,
#next:hover, #prev:hover,
.container > ul > li:hover > h2,
.container > ul > li > div > a:hover {
    color: var(--whitenew);
    transition: color 0.5s;
}


/*Start header */
header {
    border-bottom: 2px solid var(--blueviolet);
}

.header {
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 5rem;
    margin: 0 4rem;
}

.fa-solid {
    color: var(--white);
}

.btn {
    background-color: var(--blueviolet);
    border: none;
    padding: 0.8rem;
    cursor: pointer;
    border-radius: 50%;
}
/* Start search */
.search {
    border-radius: 20rem;
    background-color: var(--blueviolet);
}

.search-text {
    color: var(--white);
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    width: 0;
    padding: 0;
    transition: all 0.25s ease-in-out;
}

.search-text::placeholder {
    color: var(--white);
}

.search:hover {
    box-shadow: 0px 3px 8px var(--violet);
}

.search:hover .search-text {
    width: 30rem;
}

.btn > i {
    background-color: transparent;
}
/* End Search */

/*Start setting user */
.setting-user > div {
    margin-right: 2rem;
}

.v-user {
    display: none;
    position: absolute;
    box-shadow: 0px 3px 8px var(--blueviolet);
}


ul.v-user {
    right: 0;
    top: 4.5rem;
    border-radius: 13px;
    z-index: 99;
}

ul.v-user:after {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--blueviolet) transparent;
    position: absolute;
    top: -19px;
    right: 25%;
}

ul.v-user > li {
    list-style-type: none;
    border-bottom: 1px solid var(--blackblue);
    background: transparent;
}

ul.v-user > li:last-child {
    border-bottom: none;
}

ul.v-user > li > a {
    text-decoration: none;
    color: var(--white);
    display: block;
    padding: 1.2rem 2.2rem;
    background-color: var(--blueviolet);
    font-size: 1.2rem;
}

ul.v-user > li:first-child > a {
    border-radius: 0.8rem 0.8rem 0 0;
}

ul.v-user > li:last-child > a {
    border-radius: 0 0 0.8rem 0.8rem;
}

/* End setting user */
ul.header > li {
    list-style-type: none;
}
/* End Header */


/* Start Main */
.right {
    width: 85%;
    margin: 0 3rem;
}
/* Start nav*/
.left {
    width: 15%;
    border-right: 2px solid var(--blueviolet);
}

.btn-new {
    border: none;
    cursor: pointer;
    background-color: var(--blackblue);
}

.nav {
    align-items: center;
}

ul.menu > li > a {
    text-decoration: none;
    display: block;
    padding: 1.2rem;
    color: var(--white);
}

ul.menu > li > button {
    margin-left: 2rem;
    display: block;
    background-color: transparent;
}  

/* End Main */
.slider {
    position: relative;
    height: 30vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.item {
    position: absolute;
    transition: 0.5s;
    left: calc(50% - 150px);
    width: 25%;
}

.item > img {
    width: 100%;
    border-radius: 1rem;
}

#next, #prev {
    position: absolute;
    top: 40%;
    color: var(--white);
    background-color: transparent;
    border: none;
    font-size: xx-large;
    font-family: monospace;
    font-weight: bold;
    left: 50px;
}

#next {
    left: unset;
    right: 50px;
}

/* Star artists */
.container {
    height: 40vh;
    overflow: hidden;
}

.container > ul {
    list-style-type: none;
}

.container > ul > li > h2 {
    display: block;
    color: var(--white);
}

.container > ul > li > div > a {
    display: block;
    text-decoration: none;
    color: var(--white);
    text-align: center;
    padding: 0.5rem;
}

.container > ul.header-container > li > div > a {
    display: none;
    padding: 0;
}

@keyframes leftToRight {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0);
    }
}

.container:hover > ul.header-container > li > div > a {
    display: block;
    animation: leftToRight 1s forwards;
}

.container > ul.v-container {
    flex-wrap: wrap;
}

.container > ul.v-container > li {
    width: 20%;
}

.container > ul.v-container > li > div {
    padding: 1rem;
}

.container > ul.v-container > li > div > div {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.container > ul.v-container > li > div > div > a > img {
    width: 100%;
    transition: opacity 0.5s;
}

.container > ul.v-container > li > div > div > a > i {
    border: 1px solid var(--whitenew);
    padding: 0.7rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: var(--whitenew);
}

.container > ul.v-container > li > div > div:hover > a > i {
    display: block;
}

.container > ul.v-container > li > div > div:hover > a > img {
    transform: scale(1.3);
    transition: transform 1s;
    opacity: 0.6;
}
/* End artists */

